body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

h1 {
  font-size:30px;
  color:blue;
  margin-top:1px;
  margin-bottom:1px;
}

h4 {
  border-width : 0px;
  padding : 0px;
  margin : 0px;
  margin-top:1px;
  margin-bottom:1px;
}

div.main {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 280px;
  bottom: 180px;
  border: 1px solid #ddd;
}

div.smallmap {
  position: absolute;
  width: 96%;
  height:80%;
  border: 1px solid #ddd;
}

div.handle {
  position: absolute;
  top: 50%;
  right: 0px;
}

div.right {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  margin: 0;
}

div.box {
  margin: 2px 0px 10px 0px;
  padding: 2px 0px 4px 4px;
  width: 100%;
}

div.gpslink {
  position: absolute;
  top: 90%;
  left: 0px;
  z-index: 9997;
}

div.olControlMousePosition {
 font-family: Verdana;
 font-size: 0.5em;
 bottom: 0em;
 right: 3px;
 display: block;
 position: absolute;
 font-size: smaller;
 color: red;
}

div.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -25%;
  display: none;
  z-index:9999;
  background-color:white;
  layer-background-color:white;
}

div.uploadbox {
  display: none;
  height: 400px;
  width: 500px;
  position:absolute;
  top: 20%;
  left: 25%;
  border: 3px double;
  z-index:9998;
  background-color:white;
  layer-background-color:white;
}

iframe {
  border: 0px solid #ffffff;
}

div.leftcolumn { 
  width:250px; 
  height:30px;
  float: left;
  clip : auto;
  word-wrap:break-word;
  xoverflow : scroll;
}


p.leftcolumn {
  margin-top:0;
  margin-bottom:0;
  color:blue;
}

div.rightcolumn { 
  width: 300px; 
  float: right;
  height:30px;
}
.clear { clear: both;}
