body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

div.smallmap {
  width: 96%;
  height: 90%;
  min-height: 100px;
  border: 1px solid #ddd;
}

div.right {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  margin: 0;
}

div.box {
  margin: 2px 0px 10px 0px;
  padding: 2px 0px 4px 4px;
  width: 100%;
}

div.main {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 280px;
  bottom: 190px;
}

H1 {
  font-size:30px;
  color:blue;
  margin-top:1px;
  margin-bottom:1px;
}

div.olControlMousePosition {
 font-family: Verdana;
 font-size: 0.5em;
 bottom: 0em;
 right: 3px;
 display: block;
 position: absolute;
 font-size: smaller;
 color: red;
}

div.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -25%;
  display: none;
  z-index:9999;
  background-color:white;
  layer-background-color:white;
}

div.uploadbox {
  display: none;
  height: 400px;
  width: 500px;
  position:absolute;
  top: 20%;
  left: 25%;
  border: 3px double;
  z-index:9998;
  background-color:white;
  layer-background-color:white;
}

iframe {
  border: 0px solid #ffffff;
}

