html, body {
height: 100%;
}

.smallmap {
width: 400px;
height: 250px;
border: 1px solid #ccc;
}

.mapmap {
width: 100%;
height: 50%;
border: 1px solid #ccc;
}

label
{
font-weight: bold;
}

input
{
}

input.submit
{
clear: both;
}

fieldset
{
display: block;
margin: 0 0 0 0;
padding: 0 0 0 0;
}

p#upload_process
{
  visibility:hidden;
}
