.smallmap {
width: 400px;
height: 250px;
border: 1px solid #ccc;
}


label
{
float: left;
display: block;
margin: 0 0 0 0;
font-weight: bold;
}

input
{
xdisplay: block;
}

input.submit
{
clear: both;
}

fieldset
{
display: block;
margin: 0 0 0 0;
padding: 0 0 0 0;
}

p#upload_process
{
  visibility:hidden;
}
