<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico" />
  
  <title>DataTables example</title>
  <style type="text/css" title="currentStyle">
   @import "[DATADIR]css/demo_page.css";
   @import "[DATADIR]css/demo_table.css";
  </style>
  <script type="text/javascript" language="javascript" src="[DATADIR]js/jquery.js"></script>
  <script type="text/javascript" language="javascript" src="[DATADIR]js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf-8">
   $(document).ready(function() {
    $('#example').dataTable();
   } );
  </script>
 </head>
 <body id="dt_example">
  <div id="container">

<div id="demo">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
